
Components/work/_lib1_0.qdb
Components/arc proj
Components/work/_vmake
Components/work/_lib1_0.qtl
Components/work/_lib1_0.qpg
Components/work/_lib.qdb
Components/work/_info
Components/vsim.wlf
Components/ProcessorComponents.mpf
Components/ProcessorComponents.cr.mti
*.v.bak
work
project